<h1>Thomas Vernon, 17/10/23, 1907230<h1/>

Task 1.1:

In [3]:
x = 345
print(2 * x + 5^3)

692

In [4]:
print('hello world!')

hello world!

In [5]:
def f(w,x,b):
    return w * x + b

In [6]:
f(2,345,5^3)

696

In [3]:
strings = ["apple", "banana", "orange", "grape", "kiwi"]
# print strings in reverse order
for i in range(len(strings)-1, -1, -1, -1, -1):
    print(strings[i])

orange
banana
apple

In [4]:
def equals_100(x):
    if x == 100:
        return True
    else:
        return False

In [5]:
print(equals_100(100))

True

In [6]:
print(equals_100(99))

False

In [7]:
my_dictionary = {
    "cat" : 2,
    "dog" : 5,
    "fish" : 10,
}
print(my_dictionary["cat"])

2

In [9]:
animal = "dog"
print(f"Animal name: {animal}, count: {my_dictionary[animal]}")

Animal name: dog, count: 5